<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <div id="chat-text" style="width:500px;height:100px;overflow-y:scroll">
      <div>Live Chat</div>
    </div>
     
    <form id="chat-form">
      <input id="chat-input" type="text" style="width:500px"></input>
    </form>
</body>

<script src="/socket.io/socket.io.js"></script>
<script>
  var chatText = document.getElementById('chat-text');
	var chatInput = document.getElementById('chat-input');
	var chatForm = document.getElementById('chat-form');

  const socket = io();
  
  socket.on('addToChat',function(data){
		chatText.innerHTML += '<div>' + data + '</div>';
	});

  chatForm.onsubmit = function(e){
		e.preventDefault();
		if(chatInput.value[0] === '/')
			socket.emit('evalServer',chatInput.value.slice(1));
		else
			socket.emit('sendMsgToServer',chatInput.value);
		chatInput.value = '';		
	}
</script>
<%- include('partials/footer') %>
