<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <section id="stream-container">
      <button>Help</button>
      <div id="stream-overlay">
        <p>This is the score area</p>
      </div>
      <iframe id="embedded-stream" width="1280" height="720" src="https://www.youtube.com/embed/5FrhtahQiRc" title="Heavy Is The Crown ft. Linkin Park (Official Music Video) | League of Legends Worlds 2024 Anthem" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
</body>
<%- include('partials/footer') %>