<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>

    <h1>Problem Statement</h1>

    <p></p>

    <h1>What is Project TAGGER?</h1>

    <p>
        Project TAGGER is a telepresent game of tag played via
        remote-controlled cars with first-person cameras comparable
        to typical racing games/simulators.
    </p>

    <h1>Motivations</h1>

</body>
<%- include('partials/footer') %>